<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aprendiendo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".PantallaCompraInsuFrijol"
            android:exported="false" />
        <activity
            android:name=".PantallaCompraInsuTortillas"
            android:exported="false" />
        <activity
            android:name=".PantallaCompraInsuChorizo"
            android:exported="false" />
        <activity
            android:name=".Presupuesto"
            android:exported="false" />
        <activity
            android:name=".DatosVent"
            android:exported="false" />
        <activity
            android:name=".InsumosFrijol"
            android:exported="false" />
        <activity
            android:name=".InsumosChorizo"
            android:exported="false" />
        <activity
            android:name=".InsumosTortillas"
            android:exported="false" />
        <activity
            android:name=".CantInsumosComprar"
            android:exported="false" />
        <activity
            android:name=".Vender"
            android:exported="false" />
        <activity
            android:name=".Insumos"
            android:exported="false" />
        <activity
            android:name=".CompraInsumos"
            android:exported="false" />
        <activity
            android:name=".PantallaInicio"
            android:exported="false" />
        <activity
            android:name=".pantallaInicio"
            android:exported="false"
            android:label="@string/title_activity_pantalla_inicio" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".pantalla2"
            android:exported="false"
            android:label="@string/title_activity_pantalla2"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>